name: Vercel Production Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID || '' }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID || '' }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN || '' }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production

      - name: Build Project Artifacts
        run: vercel build --prod

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod
